

<div>
  <div class="container mt-3">
      <div class="card">
          <div class="card-header">Simulateur</div>
          <div class="card-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputEmail4">Type Logement</label>
                  <select class="form-control" (change)="selectLogement($event)">
                    <option></option>
                    <option [value]="log" *ngFor="let log of logementTypes">{{log}}</option>
                  </select>
                </div>
                <div class="form-group col-md-2"></div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">Zones</label>
                  <select class="form-control" (change)="selectZone($event)">
                    <option></option>
                    <option [value]="zone" *ngFor="let zone of zones">{{zone}}</option>
                  </select>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-4">
                  <label>Revenue</label>
                  <input (change)="changeRevenue($event)" type="text" class="form-control" id="revenue" placeholder="115000">
                </div>
                <div class="form-group col-md-2"></div>
                <div class="form-group col-md-4">
                  <label>Surface en m²</label>
                  <input (change)="changeSurface($event)" type="text" class="form-control" id="surface" placeholder="75">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="formGroupExampleInput2">Another label</label>
                  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                </div>
              </div>
              <button type="submit" class="btn btn-primary" (click)="simulate()" >Simulate</button>
            </form>
          </div>
      </div>
  </div>
</div>
