<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="/">Home</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/simul">Simulator</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">xxxxxxxx</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        <span>
          [USER]
        </span>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item">Logout</a>
        <a class="dropdown-item">Change password</a>
      </div>
    </li>
    <li class="nav-item" *ngIf="!true">
      <a class="nav-link">Login</a>
    </li>
  </ul>
</nav>
