<div>
  <div class="container mt-3">
      <div class="card">
          <div class="card-header">Calculez et obtenez votre Prime Energie</div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let node of fileTree"
                    (click)="getChildren(node)">{{node.designation}}</li>
            </ul>
<!--             <app-card *ngFor="let node of fileTree"
                      [title]="node.designation"
                      [subTitle]="node.subTitle ? node.subTitle : ''"></app-card> -->
          </div>
      </div>
  </div>
</div>
